---
import Layout from "../../layouts/Layout.astro";
import SectionOne from "../../components/en/resources/Section_1.astro";
import { getCollection } from 'astro:content';
const allPosts = await getCollection('posts', ({ id }) => {
  return id.startsWith('en/');
});
const allResources = await getCollection('resources', ({ id }) => {
  return id.startsWith('en/');
});
---

<Layout title="Blog">
    <div class="max-w-screen-lg mx-auto">
      <SectionOne/>
      <div class="mb-4 border-b border-gray-200">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
            <li class="me-2" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg text-2xl text-primary font-bold mb-3" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Posts</button>
            </li>
            <li class="me-2" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg text-2xl text-primary font-bold mb-3 hover:text-secondary hover:border-secondary" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Resources</button>
            </li>      
        </ul>
      </div>
      <div id="default-tab-content">
        <div class="hidden p-4 rounded-lg bg-gray-50" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
            {allPosts.map(p => (              
              <a class="p-5 block border rounded w-full hover:shadow hover:shadow-xl" href={`/blog/${p.slug.slice(3)}`}>  
                <div class="flex justify-between">                          
                  <div class="text-sm text-slate-900">{p.data.author}</div>
                  <div class="text-sm text-slate-500">{p.data.pubDate.toString().slice(0,10)}</div>
                  </div>                      
                  <div class="text-primary text-lg font-bold mt-2">{p.data.title}</div>
                  <div class="text-sm text-slate-700">{p.data.readTime}</div>
                  <p class="font-light py-4">{p.data.description}</p>   
                </a>
              ))}
          </div>
        </div>
        <div class="hidden p-4 rounded-lg bg-gray-50" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-3">

            {allResources.map(r => (
              
              <a class="p-5 block border rounded w-full hover:shadow hover:shadow-xl" href={`/resources/${r.slug.slice(3)}`}>  
                <div class="flex justify-between">                          
                  <div class="text-sm text-slate-900">{r.data.author}</div>
                  <div class="text-sm text-slate-500">{r.data.pubDate.toString().slice(0,10)}</div>
                  </div>                      
                  <div class="text-primary text-lg font-bold mt-2">{r.data.title}</div>            
                  <p class="font-light py-4">{r.data.description}</p>
                  
                </a>
              ))}
          </div>
        </div>
      </div>

            
  </div>
</Layout>