---
import { Image } from 'astro:assets';
import faviconURL from '../assets/logo/color-horizontal.svg'
const lang = Astro.currentLocale
const { pathname } = Astro.url;
const isSpanish = pathname.startsWith('/es');

// Función para construir la URL en inglés
function getEnglishURL(path :string) {
  return path.startsWith('/') ? path.substring(3) : path;
}

// Función para construir la URL en español
function getSpanishURL(path :string) {
  return path.startsWith('/es') ? path : `/es${path}`;
}

const engURL = getEnglishURL(pathname);
const espURL = getSpanishURL(pathname);

const links = [
  // { href: lang == "en" ? "/" : "/es", text: lang == "en" ? "Home" : "Inicio" },
  { href: lang == "en" ? "/about" : "/es/about", text: lang == "en" ? "About Us" : "Nosotros" },
  { href: lang == "en" ? "/visas" : "/es/visas", text: lang == "en" ? "Visas & Immigration" : "Visas Colombianas" },
  { href: lang == "en" ? "/real-estate" : "/es/real-estate", text: lang == "en" ? "Real Estate" : "Inmobiliario" },
  // { href: lang == "en" ? "/trademark-registry" : "/es/registro-marca", text: lang == "en" ? "Trademark Registry" : "Registro de Marcas" },
  { href: lang == "en" ? "/resources" : "/es/resources", text: lang == "en" ? "Resources" : "Recursos" },
  { href: lang == "en" ? "/blog" : "/es/blog", text: lang == "en" ? "News" : "Blog" },
  { href: lang == "en" ? "/contact" : "/es/contact", text: lang == "en" ? "Hire us" : "Contacto" }
];

---

<nav class="bg-[#fbfbfb] border-gray-200 fixed w-full z-50 top-0 shadow md:shadow-lg">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href={lang == "es" ? "/es" : "/"} class=`px-0 w-1/3 md:w-auto flex items-center`>            
            <Image src={faviconURL} loading="eager" alt="Capital M Logo" class="h-8 md:mr-3" width={100} />
        </a>
      
        <div id="mega-menu" class="items-center justify-between hidden w-full md:flex md:w-auto order-3 md:order-1">
            <ul class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-6 rtl:space-x-reverse">
                {links.map((link) => (
                    <li>
                        <a 
                            data-astro-reload={link.href === '/' || link.href === '/es/' ? true : undefined}
                            href={link.href} 
                            class={`
                              block 
                              py-2 px-3 
                              text-primary                                                           
                              border-b border-gray-100 md:border-0 
                              md:hover:text-secondary 
                              md:hover:underline 
                              md:p-0 
                              ${(pathname === link.href) ? 'text-primary border border-b-4' : ''}
                              ${pathname.includes(link.href) && link.href !== "/" ? 'text-secondary border border-b-4' : ''}
                              `
                            }
                              >{link.text}</a>
                    </li>
                ))}          
            </ul>
        </div>
        
        <div class="flex items-center order-2 md:order-2 space-x-0 md:space-x-0 rtl:space-x-reverse">            
            <button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-gray-900 rounded-lg cursor-pointer hover:bg-gray-100">              
              {lang == "es" ? "Español" : "English"} 
            </button>
            <!-- Dropdown -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700" id="language-dropdown-menu">
              <ul class="py-2 font-medium" role="none">
                <li>
                  <a href={engURL} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 " role="menuitem">
                    <div class="inline-flex items-center">             
                      English
                    </div>
                  </a>
                </li>
                <li>
                  <a href={espURL} class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 " role="menuitem">
                    <div class="inline-flex items-center">                    
                      Español
                    </div>
                  </a>
                </li>                
              </ul>
            </div>
            <!-- Signin -->
            <div class="flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <a href="/signin" class="hidden text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:hover:bg-gray-700 focus:outline-none">Login</a>
                <a href="/register" class="hidden text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 focus:outline-none">Sign up</a>
                <button 
                    data-collapse-toggle="mega-menu" 
                    type="button" 
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" 
                    aria-controls="mega-menu" 
                    aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</nav>
