---
const lang = Astro.currentLocale
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import GoogleTag from '../components/GoogleTag.astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"
interface Props {
	title: string;
}

const { title } = Astro.props;

import { ClientRouter } from "astro:transitions";

---

<!doctype html>
<html lang={lang}>
	<head>
		
		<ClientRouter />
		<meta charset="UTF-8" />
		<meta name="description" content="Capital M Law - Colombian Legal Experts" />
		<meta name="viewport" content="width=device-width" />		
		<link rel="icon" type="image/svg+xml" href="/isotipo-color.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
		<title>Capital M - {title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<GoogleTag/>
		<SpeedInsights/>

	</head>
	<body>
		<WhatsAppButton />
		<Navbar lang={Astro.currentLocale} pathname={Astro.url.pathname} client:load />
			<div class="">
				<slot />
			</div>
		<Footer />

		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
		<!-- <script is:inline src="https://carrier.formcarry.com/js/v1.js"></script> -->
		<!-- <script is:inline src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
		<!-- <script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

		<script is:inline>
			// formcarry({			  
			//   form: "oe6f89XVhFy",			  
			//   element: "#contact-form",
			//   // Success callback, you can show alert messages
			//   // or redirect the user in this function
			//   onSuccess: function(response){
			// 	Swal.fire({
			// 		title: 'Success!',
			// 		text: response.title,
			// 		icon: 'success',
			// 		confirmButtonText: 'OK'
			// 	});
				
			//   },
			//   // Error callback, a good place to show errors 🗿
			//   onError: function(error){
			// 	alert(error)
			// 	Swal.fire({
			// 		title: 'Error!',
			// 		text: error,
			// 		icon: 'error',
			// 		confirmButtonText: 'OK'
			// 	});
			//   }
			// });
		  </script>
		
	</body>
</html>

