---
const lang = Astro.currentLocale
import Footer from '../components/core/layout/Footer.astro';
import TableOfContents from '../components/core/navigation/TableOfContents.astro';
import { getCollection } from 'astro:content';
import Navbar from '../components/core/layout/Navbar.tsx';
import WhatsAppButton from '../components/core/common/WhatsAppButton.astro';
import GoogleTag from '../components/core/common/GoogleTag.astro'
import SpeedInsights from "@vercel/speed-insights/astro"

interface Props {
	title: string;		
	frontmatter: any;
	headings: any;
}

const { title } = Astro.props.frontmatter || Astro.props 

const locale = Astro.currentLocale

const sidebarPosts = await getCollection("posts",({ id }) => {
	if (locale == "en") {
		return id.startsWith('en/');
	} else {
		return id.startsWith('es/');
	}
});

const url = Astro.url

---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Find insightful content about the Colombian Legal system from local attorneys" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/isotipo-color.svg" />
		<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<title>{title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta property="og:title" content={title}>
		<meta property="og:description" content="Find insightful content about the Colombian Legal system from local attorneys" />
		<meta property="og:url" content="https://www.capitaleme.com/">		
		<GoogleTag/>
		<SpeedInsights/>

	</head>
	<body>
		<WhatsAppButton/>
		<Navbar lang={Astro.currentLocale} pathname={Astro.url.pathname} client:load/>			
		<div class="flex min-h-screen p-0 sm:ml-0 mb-20">
			 <aside id="sidebar-multi-level-sidebar" class="hidden fixed top-0 left-0 z-40 w-96 h-[64rem] pt-16 lg:block sticky bg-white border-r border-gray-200" 	aria-label="Sidebar">
				 <div class="h-full px-3 py-4 overflow-y-auto bg-white">
					<div class="my-4 mx-2 text-primary border-b pb-2">This is the Blog. You will find the latest news and articles here</div>		
						   <span class="p-0 ms-3 text-secondary rounded-lg font-bold text-xl">{lang == 'en' ? 'All posts' : 'Todos los posts' }</span>
							<ul id="dropdown-posts-list" class="py-2 space-y-2 ">
								{ sidebarPosts.map( (post) => (
									<li class="">
										<a href={locale == "en" ? `/en/blog/${post.slug.slice(3)}` : `/es/blog/${post.slug.slice(3)}` } 
										class={`flex flex-col p-2 text-primary font-light hover:shadow hover:shadow-lg hover:bg-white rounded-lg group max-w-full 
										${url.pathname == '/en/blog/' + post.slug.slice(3) || url.pathname == '/es/blog/' + post.slug.slice(3) ? 
										' bg-primary text-white hover:text-primary shadow shadow-lg' : ''}`}>
											<span class="flex-1 ms-3 whitespace-wrap font-bold">{post.data.title}</span>      
											<span class="flex-1 ms-3 whitespace-wrap text-sm">{post.data.pubDate.toString().slice(0, 10)}</span>      
										</a>
									</li>
								)) }
							</ul>					  	
				 </div>
			  </aside>	
			<!-- Main content container -->
			<div class="flex-auto w-full md:w-auto">
				<div 
					class=" p-4  rounded-lg  mt-14  prose  prose-slate  prose-lg  lg:prose-xl  prose-headings:text-primary prose-h2:text-2xl prose-h2:underline  prose-h3:text-xl prose-h3:text-slate-500 prose-p:font-light prose-p:text-slate-500 border-r max-w-screen-md mx-auto
						">

					<div class="w-full mx-auto">											
						<!-- <BreadCrumb/>						 -->
						<slot/>						
					</div>
				</div>
			</div>
			
			<!-- Sticky TableOfContents -->
			<div style="right: 40px" class="hidden sticky 2xl:block top-4 h-screen z-40 h-full overflow-y-auto w-1/4 border border-r border-2">				
					<TableOfContents headings={Astro.props.headings} />
				
			</div>
		</div>			
		
		<Footer/>
			
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/3.0.0/flowbite.min.js"></script>
		
	</body>
</html>