---
const lang = Astro.currentLocale
import Footer from '../components/Footer.astro';
import TableOfContents from '../components/TableOfContents.astro';
import { getCollection } from 'astro:content';
import Navbar from '../components/Navbar.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import GoogleTag from '../components/GoogleTag.astro'
import BreadCrumb from '../components/BreadCrumb.astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"
import VisaHeader from '../components/en/visas/VisaHeader.astro'
import VisaAssistanceService from '../components/en/visas/VisaAssistanceService.astro'

interface Props {
	title: string;	
	frontmatter: any;
	headings: any;
}

const { title, headings, workPermit, beneficiaries, type, sponsored, countries } = Astro.props.frontmatter || Astro.props 

const locale = Astro.currentLocale

const sidebarVisas = await getCollection("visas",({ id, data }) => {
	if (locale == "en") {
		return id.startsWith('en/') && data.popular === true;
	} else {
		return id.startsWith('es/');
	}
});

const sidebarPosts = await getCollection("posts",({ id }) => {
	if (locale == "en") {
		return id.startsWith('en/');
	} else {
		return id.startsWith('es/');
	}
});

const sidebarResources = await getCollection("resources",({ id }) => {
	if (locale == "en") {
		return id.startsWith('en/');
	} else {
		return id.startsWith('es/');
	}
});

const url = Astro.url

---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Learn about Colombian visas cateogories and current regulations" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/isotipo-color.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<title>{title}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<GoogleTag/>
		<SpeedInsights/>
		<meta property="og:title" content={title}>
		<meta property="og:description" content="Learn about Colombian visas cateogories and current regulations" />
		<meta property="og:url" content="https://www.capitaleme.com/">		

	</head>
	<body>
		<WhatsAppButton/>
		<Navbar />			
		<div class="flex min-h-screen p-0 sm:ml-0">
			 <aside id="sidebar-multi-level-sidebar" class="hidden fixed top-0 left-0 z-40 w-64 h-[64rem] pt-16 sm:block sticky transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0" 	aria-label="Sidebar">
				 <div class="h-full px-3 py-4 overflow-y-auto bg-slate-100">
					<ul class="space-y-2 font-medium">                   					   
					   <li>											  							   
							<button type="button" class="flex flex-row items-center justify-between w-full p-2 text-base text-secondary transition duration-75 rounded-lg group hover:bg-gray-100 rounded-lg group hover:bg-gray-100" aria-controls="dropdown-posts-list" data-collapse-toggle="dropdown-posts-list">								
									<span class="p-0 ms-3 text-secondary rounded-lg">All posts</span>
										<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
									</svg>
							</button>
							<ul id="dropdown-posts-list" class="hidden py-2 space-y-2">
								{ sidebarPosts.map( (post) => (
									<li class="">
										<a href={locale == "en" ? `/blog/${post.slug.slice(3)}` : `/es/blog/${post.slug.slice(3)}` } class={`flex items-center p-2 text-primary rounded-lg group max-w-full ${url.pathname == '/blog/' + post.slug.slice(3) || url.pathname == '/es/blog/' + post.slug.slice(3) ? 'underline bg-secondary text-white' : ''}`}>
											<span class="flex-1 ms-3 whitespace-wrap">{post.data.title}</span>      
										</a>
									</li>
								)) }
							</ul>
					  	</li>
					   <li>											  							   
							<button type="button" class="flex flex-row items-center justify-between w-full p-2 text-base text-secondary transition duration-75 rounded-lg group hover:bg-gray-100 rounded-lg group hover:bg-gray-100" aria-controls="dropdown-visas-list" data-collapse-toggle="dropdown-visas-list">								
									<span class="p-0 ms-3 text-secondary rounded-lg">All visas</span>
										<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
									</svg>
							</button>
							<ul id="dropdown-visas-list" class="py-2 space-y-2">
								{ sidebarVisas.map( (visa) => (
									<li class="">
										<a href={locale == "en" ? `/visas/${visa.slug.slice(3)}` : `/es/visas/${visa.slug.slice(3)}` } class={`flex items-center p-2 text-primary rounded-lg group max-w-full ${url.pathname == '/visas/' + visa.slug.slice(3) || url.pathname == '/es/visas/' + visa.slug.slice(3) ? 'underline bg-secondary text-white top-10' : ''}`}>
											<span class="flex-1 ms-3 whitespace-wrap">{visa.data.title}</span>      
										</a>
									</li>
								)) }
							</ul>
					  	</li>
					   <li>											  							   
							<button type="button" class="flex flex-row items-center justify-between w-full p-2 text-base text-secondary transition duration-75 rounded-lg group hover:bg-gray-100 rounded-lg group hover:bg-gray-100" aria-controls="dropdown-resources-list" data-collapse-toggle="dropdown-resources-list">								
									<span class="p-0 ms-3 text-secondary rounded-lg">All resources</span>
										<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
									</svg>
							</button>
							<ul id="dropdown-resources-list" class="hidden py-2 space-y-2">
								{ sidebarResources.map( (resource) => (
									<li class="">
										<a href={locale == "en" ? `/resources/${resource.slug.slice(3)}` : `/es/resources/${resource.slug.slice(3)}` } class={`flex items-center p-2 text-primary rounded-lg group max-w-full ${url.pathname == '/resources/' + resource.slug.slice(3) || url.pathname == '/es/resources/' + resource.slug.slice(3) ? 'underline bg-secondary text-white' : ''}`}>
											<span class="flex-1 ms-3 whitespace-wrap">{resource.data.title}</span>      
										</a>
									</li>
								)) }
							</ul>
					  	</li>
					</ul>
				 </div>
			  </aside>	
			<!-- Main content container -->
			<div class="flex-none w-full md:w-auto">
				<div class="p-4 rounded-lg mt-14 prose prose-slate prose-lg md:prose-xl prose-headings:text-primary prose-h2:text-2xl prose-h3:text-xl">										
					<div class="max-w-screen-sm md:max-w-screen-xl mx-auto">											
						<BreadCrumb/>
						<VisaHeader title={title} workPermit={workPermit} beneficiaries={beneficiaries} type={type} sponsored={sponsored} countries={countries}/>						
						<slot/>
						<VisaAssistanceService/>
					</div>
				</div>
			</div>
			
			<!-- Sticky TableOfContents -->
			<div class="hidden sm:block sticky top-0 h-screen z-40">
				<div class="h-full overflow-y-auto">
					<TableOfContents headings={Astro.props.headings} />
				</div>
			</div>
		</div>			
		
		<Footer/>
			
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
		
	</body>
</html>