---
import { getCollection } from 'astro:content';
import PostsLayout from '../../../layouts/PostsLayout.astro';
export const prerender = true;

export async function getStaticPaths() {
  const englishBlogEntries = await getCollection('posts', ({ id }) => {
    return id.startsWith('en/');
  });

  return englishBlogEntries.map(entry => ({
      params: { 
          slug: entry.slug.slice(3) 
      }, 
      props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const { pathname } = Astro.url


---
<PostsLayout title={entry.data.title} headings={headings} frontmatter={entry.data}>
  <div class="py-8 pl-4 mt-16 font-bold text-3xl bg-slate-100 rounded">
    {entry.data.title}
    <div class="text-sm pt-2 font-normal">by: {entry.data.author}</div>
    <div class="text-sm pt-2 font-normal">published: {entry.data.pubDate.toISOString().slice(0,10)}</div>
  </div>
  <div class="">
    <Content />
  </div>
</PostsLayout>